/* .movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .movieCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
  }
  
  .movieImage {
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  } */